name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env.production
        run: |
          echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" > .env.production
          echo "MODE=production" >> .env.production

      - name: Install dependencies
        run: npm install

      - name: Build website
        run: npm run build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v14.25.1
        with:
          args: deploy --only hosting
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_VERUM_OMNIS_V2 }}
